<div class="card mat-elevation-z2" (click)="contextMenu.open($event)">
  <div class="color" [style.background-color]="color">
  </div>
  <div class="content">
    <span class="dataset-name">{{ dataset.name }}</span>
  </div>
</div>
<app-context-menu [parentRef]="elementRef">
  <app-cm-option (click)="newSearchTask()">New hypothesis search task</app-cm-option>
  <app-cm-option (click)="downloadDataset()">Download dataset</app-cm-option>
</app-context-menu>
