@import '../../common.scss';

div.card {
  @include card-size;
  margin: 0 10px 10px 0;
  background-color: $card-background-color;
  cursor: pointer;
}

div.color {
  @include card-color-size;
}

div.content {
  @include card-content-size;
  display: flex;
}

span.dataset-name {
  margin: auto;
}