@import "../common.scss";

div.card {
  @include card-size;
  padding: 10px; 
  position: relative;
  background-color: $card-background-color;
  margin: 0 10px 10px 0;
}

.full-width-field {
  width: calc(100% - 10px);
}

button {
  margin-left: 10px;
}

div.overlay {
  position: absolute;
  z-index: 2;
  bottom: 10px;
}