<div class="card mat-elevation-z2" center-verticaly>
  <h2 class="mat-h2">Upload dataset</h2>
  <div class="overlay">
    <mat-form-field class="full-width-field" *ngIf="datasetName">
      <input matInput [(ngModel)]="datasetName" placeholder="Dataset name">
    </mat-form-field><br>
    <div class="center-content">
      <app-file-upload label="Select dataset" allowedFileTypes="['csv']" 
        (loadSuccess)="uploadDataset($event)" 
        (loadError)="datasetSelectionError($event)">
      </app-file-upload>
      <button mat-raised-button color="primary" [disabled]="!datasetName"
        (click)="upload()">
        Upload
      </button>
    </div>
  </div>
</div>
