@import "../../dataset/common.scss";

div.card {
  width: 400px;
  padding: 10px;
  background-color: $card-background-color;
  margin: 0 10px 10px 0;
}

.full-width-field {
  width: calc(100% - 10px);
}

button {
  margin-left: 10px;
}
