<div class="card mat-elevation-z2" center-verticaly>
  <h2 class="mat-h2">Upload search task</h2>
  <ng-container *ngIf="searchTaskName">
    <mat-form-field class="full-width-field">
      <input matInput [(ngModel)]="searchTaskName" placeholder="Search task name">
    </mat-form-field><br>
    <mat-form-field class="full-width-field">
      <input matInput [(ngModel)]="searchTaskSize" placeholder="Search task size" type="number">
    </mat-form-field><br>
    <mat-form-field class="full-width-field">
      <input matInput [(ngModel)]="preferredAgentCount" placeholder="Preferred agent count" type="number">
    </mat-form-field><br>
  </ng-container>
  <div class="center-content">
    <app-file-upload label="Select search task" allowedFileTypes="['.py']" 
      (loadSuccess)="uploadSearchTask($event)" 
      (loadError)="searchTaskSelectionError($event)">
    </app-file-upload>
    <button mat-raised-button color="primary" [disabled]="!searchTaskName || !searchTaskSize"
      (click)="upload()">
      Upload
    </button>
  </div>
</div>
  