<div class="container" *ngIf="datasetPage">
  <div *ngFor="let dataset of datasetPage.content; let cardIndex = index">
    <app-dl-dataset-card [dataset]="dataset" [color]="getCardColor(cardIndex)">
    </app-dl-dataset-card>
  </div>
</div>