<div class="search-task-list" *ngIf="searchTasks">
  <app-stl-search-task-card *ngFor="let searchTask of searchTasks; let cardIndex = index" 
    [searchTask]="searchTask" [color]="getColor(cardIndex)">
  </app-stl-search-task-card>
</div>
