<div class="time" *ngIf="searchStartTime">
  Search start time: {{ searchStartTime | date : 'long' }}
</div>
<div class="time" *ngIf="searchDurationMs">
  Search duration: {{ searchDurationMs }} (ms)
</div>
<app-result-list *ngIf="resultsPage" [results]="resultsPage.content" (sortChanged)='sortChanged($event)'>
</app-result-list>
