<ng-container *ngIf="agentLogsPage">
  <div class="show-more" *ngIf="isLastPage()" (click)="loadNextPage()">
    Show previous logs ({{ agentLogsPage.number + 1 }} / {{ agentLogsPage.totalPages }})
  </div>
  <app-agent-log-list [agentLogs]="agentLogsPage.content">
  </app-agent-log-list>
  <div class="show-more" *ngIf="isNotFirstPage()" (click)="loadPreviousPage()">
    Show next logs ({{ agentLogsPage.number + 1 }} / {{ agentLogsPage.totalPages }})
  </div>
</ng-container>
