
$card-width: 250px;
$card-height: 250px;
$card-color-height: 170px;
$card-background-color: white;

@mixin card-size {
  width: $card-width;
  height: $card-height;
}

@mixin card-content-size {
  width: $card-width;
  height: $card-height - $card-color-height;
}

@mixin card-color-size {
  width: $card-width;
  height: $card-color-height;
}

@mixin card-background-img-size {
  background-size: $card-width $card-height;
}
