<div class="agent-log-list" *ngIf="agentLogs" [style.height.px]="logViewHeight">
  <app-all-agent-log-card *ngFor="let agentLog of agentLogs" [agentLog]="agentLog">
  </app-all-agent-log-card>
</div>
