<div class="container" *ngIf="dataset">
  Let's get your search ready.<br>
  You have chosen to perform this search on the `{{ dataset.name }}` dataset.<br>
  Now you have to upload your `search_task.py` file. If you need help writing this file,
  you can read more about it in the <a [routerLink]="['/' + routeConstants.SEARCH_TASK_DOCUMENTATION]">documentation</a>.<br><br>
  <app-search-task-upload [datasetId]="dataset.id">
  </app-search-task-upload>
</div>