<div class="btn-label">
  <div class="label">
    <ng-content></ng-content>
  </div>
  <div class="icon">
    <ng-container *ngIf="!iconName">
      <mat-icon *ngIf="!isActive || !hasChildren">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="isActive && hasChildren">keyboard_arrow_down</mat-icon>
    </ng-container>
    <ng-container *ngIf="iconName">
      <mat-icon>{{ iconName }}</mat-icon>
    </ng-container>
  </div>
</div>
