<div class="context-menu mat-elevation-z2" [class.context-menu-closed]="!isOpen"
  [style.top.px]="top" [style.left.px]="left">
  <ng-container *ngIf="isOpen">
    <ng-content></ng-content>
  </ng-container>
</div>

