@import "../../../animations.scss";

div.context-menu {
  @include transform-transition-animation;
  position: absolute;
  background-color: white;
  height: auto;
  width: auto;
  transform-origin:top;
  transform:scaleY(1);
  border-radius: 5px;
}

div.context-menu-closed {
  @include transform-transition-animation;
  transform:scaleY(0);
  overflow: hidden;
}