<div class="agent-log">
  <span [class.error]="agentLog.traceback">
    {{ agentLog.text }}
  </span>
  <ng-container *ngIf="agentLog.traceback">
    <span class="toggle" (click)="showTraceback = !showTraceback">
      [Toggle traceback]
    </span>
    <div class="traceback" *ngIf="showTraceback">
      {{ agentLog.traceback.text }}
    </div>
  </ng-container>
</div>
