div.traceback {
  background-color: rgb(42, 55, 61);
  margin: 5px 0 5px 20px;
  padding: 15px 15px 0 15px;
  white-space: pre;
}

span.toggle {
  cursor: pointer;
  color: gray; 
}

span.error {
  color: #c83b3b;
}