<div class="result-list" *ngIf="results">
  <table>
    <tr>
      <th>Hypothesis index</th>
      <th (click)="changeSort('mean')">Mean score</th>
      <th (click)="changeSort('median')">Median score</th>
      <th (click)="changeSort('max')">Max score</th>
      <th (click)="changeSort('min')">Min score</th>
      <th (click)="changeSort('std')">Score standard deviation</th>
      <th>Agent uuid</th>
      <th>Hypothesis</th>
    </tr>
    <tr *ngFor="let result of results">
      <td>{{ result.hypothesisIndex }}</td>
      <td>{{ result.mean }}</td>
      <td>{{ result.median }}</td>
      <td>{{ result.max }}</td>
      <td>{{ result.min }}</td>
      <td>{{ result.std }}</td>
      <td>{{ result.agentUuid }}</td>
      <td>
        <button mat-raised-button color="primary" (click)="clipboard.copyToClipboard(result.hypothesis); toast.success('Copied')">
          Copy hypothesis values
        </button>
      </td>
    </tr>
  </table>
</div>
<app-clipboard #clipboard>
</app-clipboard>
