<div class="search-task mat-elevation-z2" (click)="contextMenu.open($event)">
  <div class="color" [style.background-color]="color"></div>
  <div class="data">
    Name: {{ searchTask.name }}<br>
    Preferred agent count: {{ searchTask.preferredAgentCount }}<br>
    Status: {{ searchTask.distributedRange }} out of {{ searchTask.searchTaskSize }} distributed.
  </div>
</div>
<app-context-menu [parentRef]="elementRef">
  <app-cm-option (click)="navigateToResultsPage()">View results</app-cm-option>
  <app-cm-option (click)="navigateToAgentsPage()">View agents who are working on this task</app-cm-option>
</app-context-menu>
