<div class="top-bar">
  <div class="t2">
    SearchML   
  </div>
</div>
<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <div class="drawer">
      <div class="nav-container">
        <input type="text" class="search" placeholder="Search..."/>
      </div>
      <div class="nav-label">MAIN NAVIGATION</div>
      <div class="nav-btn" [class.nav-btn-active]="isActiveRoute(routeConstants.HOME)" 
                           (click)="navigateToRoute(routeConstants.HOME)">
        <app-n-btn-label [isActive]="isActiveRoute(routeConstants.HOME)" iconName="developer_board">Home</app-n-btn-label> 
      </div>
      <div class="nav-btn" [class.nav-btn-active]="isActiveRoute(routeConstants.DATASETS)" 
                           (click)="navigateToRoute(routeConstants.DATASETS)">
        <app-n-btn-label [isActive]="isActiveRoute(routeConstants.DATASETS)" iconName="dns">Datasets</app-n-btn-label> 
      </div>
      <div class="nav-btn" [class.nav-btn-active]="isActiveRoute(routeConstants.SEARCH_TASKS)" 
                           (click)="navigateToRoute(routeConstants.SEARCH_TASKS)">
        <app-n-btn-label [isActive]="isActiveRoute(routeConstants.SEARCH_TASKS)" iconName="search">Search tasks</app-n-btn-label> 
      </div>
      <div class="nav-label">STATUS</div>
      <div class="nav-btn" [class.nav-btn-active]="isActiveRoute(routeConstants.SEARCH_AGENTS)" 
                           (click)="navigateToRoute(routeConstants.SEARCH_AGENTS)">
        <app-n-btn-label [isActive]="isActiveRoute(routeConstants.SEARCH_AGENTS)" iconName="devices_other">Search agents</app-n-btn-label> 
      </div>
      <div class="nav-label">DOCUMENTATION</div>
      <div class="nav-btn" [class.nav-btn-active]="isActiveRoute(routeConstants.DOCUMENTATION)" 
                           (click)="navigateToRoute(routeConstants.DOCUMENTATION)">
        <app-n-btn-label [isActive]="isActiveRoute(routeConstants.DOCUMENTATION)" [hasChildren]="true">Documentation</app-n-btn-label> 
      </div>
      <div class="nav-child-container" *ngIf="isActiveRoute(routeConstants.DOCUMENTATION)">
        <div class="nav-child-btn" [class.nav-btn-active]="isActiveRoute(routeConstants.SEARCH_TASK_DOCUMENTATION)"
                                   (click)="navigateToRoute(routeConstants.SEARCH_TASK_DOCUMENTATION)">
          Search task
        </div>
        <div class="nav-child-btn" [class.nav-btn-active]="isActiveRoute(routeConstants.PREPROCESSOR_DOCUMENTATION)"
                                   (click)="navigateToRoute(routeConstants.PREPROCESSOR_DOCUMENTATION)">
          Built in data preprocessors
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
