@import "../../../animations.scss";

div.top-bar {
  background-color: rgba(0, 106, 176, 0.91);
  position: absolute;
  z-index: 1000;
  width: 100vw;
  padding: 14px 0 14px 45px;
  color: white !important;
}

div.drawer {
  background-color: #1A2226;
  height: 100vh;
  width: 250px;
  padding: 56px 0 20px 0;
}

div.content {
  height: 100vh;
  overflow: auto;
  padding: 70px 20px 20px 20px;
  background-color: #ECF0F5;
}

.t2 {
  font-size: 22px;
}

.nav-btn {
  color: #b8c7ce;
  font-size: 14px;
  cursor: pointer;
  padding: 15px;
  border-left: 2px solid #222D32;
  background-color: #222D32;
}

.nav-btn:hover {
  color: #e3f3fa;
  border-left: 2px solid #3C8DBC;
  background-color: #1E282C;
}

.nav-btn-active {
  color: #e3f3fa;
  border-left: 2px solid #3C8DBC;
  background-color: #1E282C;
}

.nav-child-btn {
  color: #b8c7ce;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 20px;
  border-left: 2px solid #222D32;
  background-color: #222D32;
}

.nav-child-btn:hover {
  color: #e3f3fa;
  border-left: 2px solid #3C8DBC;
  background-color: #1E282C;
}

.nav-child-btn-active {
  color: #e3f3fa;
  border-left: 2px solid #3C8DBC;
  background-color: #1E282C;
}

.nav-label {
  color: #4b646f;
  background: #1a2226;
  font-size: 14px;
  padding: 10px 20px;
  font-size: 12px;
}

.nav-container {
  background-color: #222D32;
  padding: 10px;
  overflow: hidden;
}

input.search {
  @include transition-animation;
  background-color: #374850;
}

input.search:focus {
  @include transition-animation;
  background-color: white;
}

mat-drawer {
  border-right: none !important
}