<tr>
  <td>{{ result.hypothesisIndex }}</td>
  <td>{{ result.mean }}</td>
  <td>{{ result.median }}</td>
  <td>{{ result.max }}</td>
  <td>{{ result.min }}</td>
  <td>{{ result.std }}</td>
  <td>{{ result.agentUuid }}</td>
  <td>{{ result.hypothesis }}</td>
</tr>
