div.agent-card {
  cursor: pointer;
  margin: 0 10px 10px 0;
  background-color: white;
  display: flex;
  flex-direction: row;
}

div.data {
  padding: 10px;
}

div.color {
  height: 96px;
  width: 30px;
}