
<div class="agent-card mat-elevation-z2" (click)="contextMenu.open($event)">
  <div class="color" [style.background-color]="color"></div>
  <div class="data">
    Status: {{ agent.status }}<br>  
    UUID: {{ agent.uuid }}<br>
    CPU count: {{ agent.cpuCount }}<br>
    IP: {{ agent.ip }}<br>
  </div>
</div>
<app-context-menu [parentRef]="elementRef">
  <app-cm-option (click)="navigateToAgentLogsPage()">View logs</app-cm-option>
</app-context-menu>
