/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

input {
  border-radius: 3px;
  padding: 10px 20px;
  border: none;
  outline: none;
  width: 100%;
}

.center-content {
  text-align: center;
}

.mat-h2 {
  border-bottom: solid rgba(0, 0, 0, 0.308) 1px;
  color: rgba(0, 0, 0, 0.787) !important;
}